@import "scss/variables";

.kip-accepted-invitation, .kip-invitation-details, .kip-no-invitations {
	.kip-card {
		max-width: 500px;
		margin: 0 auto;
	}

	.bulma-message {
		margin-top: map-get($kip-space, md);
	}

	.kip-booking-code {
		@include fs(large);
		text-align: center;
		text-transform: uppercase;
		background: #efa;
		font-weight: bolder;
		letter-spacing: 2px;
		padding: map-get($kip-space, md);
		border-radius: $kip-border-radius;

		span {
			font-size: 12px;
			letter-spacing: normal;
			text-transform: none;
			display: block;
		}
	}

	.kip-no-invitations-text {
		font-weight: bolder;
	}

	.kip-appointment-date {
		@include fs(large)
		text-align: center;
		font-weight: bolder;
		padding: map-get($kip-space, lg);
	}
}

.kip-invitation-details {

	table.bulma-table {
		thead {
			tr {
				th:first-child {
					border-right :1px solid #eee;
					text-align: right;
				}
			}

		}
		tbody {
			tr {
				cursor: pointer;
				user-select: none;

				td:first-child {
					border-right :1px solid #eee;
					text-align: right;
				}

			}
			tr.kip-selected, tr.kip-selected:nth-child(even) {
				background: $kip-green;
				color: #fff;


				@for $i from 1 through 10 {
					&.kip-pref-#{$i} {
						background: mix(#f40, $kip-green, $i*10%);//scale-color($kip-green, $lightness: $i * 3%);
					}

				}

			}


		}
	}
}
.kip-provider-details {

	.bulma-message {
		margin-top: map-get($kip-space, md);
	}

	ul {
		list-style: none;
		border-bottom: 1px solid #eee;
		li {
			font-weight: bolder;
			font-size: 20px;
			display: inline-block;
			padding: 10px;
		}
		li:not(:last-child)::after {
			content: '·';
			padding: 10px;
		}
	}
	padding-bottom: 20px;
}
