/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* oxanium-200 - latin */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 200;
  src: url('./oxanium-v6-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./oxanium-v6-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./oxanium-v6-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./oxanium-v6-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./oxanium-v6-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./oxanium-v6-latin-200.svg#Oxanium') format('svg'); /* Legacy iOS */
}

/* oxanium-regular - latin */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  src: url('./oxanium-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./oxanium-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./oxanium-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./oxanium-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./oxanium-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./oxanium-v6-latin-regular.svg#Oxanium') format('svg'); /* Legacy iOS */
}
/* source-code-pro-300 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('./source-code-pro-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./source-code-pro-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./source-code-pro-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./source-code-pro-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./source-code-pro-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./source-code-pro-v14-latin-300.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./source-code-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./source-code-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./source-code-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./source-code-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./source-code-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./source-code-pro-v14-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-600 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url('./source-code-pro-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./source-code-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./source-code-pro-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./source-code-pro-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./source-code-pro-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./source-code-pro-v14-latin-600.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-900 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 900;
  src: url('./source-code-pro-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./source-code-pro-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./source-code-pro-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./source-code-pro-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./source-code-pro-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./source-code-pro-v14-latin-900.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* Roboto - Light */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./Roboto-Light.ttf') format('truetype');
}

/* Roboto - Regular */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./Roboto-Light.ttf') format('truetype');
}

/* Roboto Condensed - Light */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('./RobotoCondensed-Light.ttf') format('truetype');
}

/* Roboto Condensed - Regular */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('./RobotoCondensed-Regular.ttf') format('truetype');
}
