@import "scss/variables";

ul.kip-cm-selector {
	li {
		a {
			width: 100%;
			display: block;
			padding: map-get($kip-space, md);
			text-align: center;
			background: $cm-green1;
			color: #fff;
			border-radius: $kip-border-radius;
			margin-bottom: map-get($kip-space, sm);

			&:hover {
				color: #fff;
				font-weight: bolder;
			}
		}
	}
}

.kip-cm-welcome {
	max-width: 400px;
}