@import "scss/variables";

.kip-cm-contact-data {

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: map-get($kip-space, lg);
        margin-top: map-get($kip-space, md);
    }

    .kip-cm-controls {
        display: flex;
        flex-wrap: wrap; 
        align-items: center;           
        h2 {
            flex-grow: 1;
        }
        .kip-cm-group {
            > a, div {
                display: inline-block;
            }
            flex-grow: 0;
            a {
                margin-right: map-get($kip-space, sm);
            }
            a:last-child {
                margin-right: 0;
            }
        }
    }
}
