@import "scss/variables";

.kip-queue-select {
	ul.kip-queues {
		border: 1px solid #eee;
		background: #fff;
		li {
			padding: map-get($kip-space, md);
		}
		border-radius: $kip-border-radius;
	}
}
