@import "scss/variables";

$kip-appt-background: #efa;

.kip-new-appointment {
	fieldset {
		display: flex;
		flex-wrap: wrap;
		flex-direction: columns;

		h2 {
			@include fs(large);
			margin-top: 0;
		}
		.kip-field {
			flex-grow: 0;
			margin-right: map-get($kip-space, lg);
			&.kip-is-fullwidth {
				margin-top: map-get($kip-space, md);
				flex-grow: 1;
				min-width: 100%;
			}
			&.kip-slider {
				input {
					width: 120px;
				}
				> span {
					margin-left: map-get($kip-space, md);
					padding-top: 10px;
					display: inline-block;
				}
			}

			.kip-select {
				margin-bottom: map-get($kip-space, md);
			}
		}

		ul.kip-properties {

			li {
				margin-bottom: map-get($kip-space, md);
				display: flex;
				align-items: center;
				fieldset {
					display: inline-block;
				}
				label {
					flex-grow: 1;
					display: inline-block;
					padding-left: map-get($kip-space, md);
				}

			}
		}	

	}
}

$border: 1px solid #ddd;

.kip-schedule {
	padding-top: map-get($kip-space, md);

	.kip-schedule-navigation {
		display: flex;
		flex-direction: row;
		a:nth-child(1) {
			margin-right: map-get($kip-space, md);
		}
		a:nth-child(2) {
			margin-left: auto;
		}
	}
}
				

.kip-appointments-list {
	ul.kip-appointments {
		display: block;
		position: relative;
		li.kip-appointment-item {
			position: relative;
			display: block;

			break-inside: avoid;
			page-break-inside: avoid;
			-webkit-column-break-inside: avoid;

			box-shadow: $kip-box-shadow;
			margin-bottom: map-get($kip-space, md);
			padding: map-get($kip-space, md);
		}
	}
}

.kip-appointments-list, .kip-appointment-card {

	.kip-tag {
		display: inline-block;
		color: #000;
		background: $kip-appt-background;
		opacity: 1;
		font-size: 12px;
		box-shadow: $kip-box-shadow;
		padding: map-get($kip-space, sm);
		border-radius: $kip-border-radius;
		margin-right: map-get($kip-space, xs);
		margin-bottom: map-get($kip-space, xs);

		&.kip-is-tiny {
			box-shadow: none;
			padding: 0;
		}

		&.kip-is-open {
			color: #a53;
		}

		&.kip-is-booked {
			color: #374;
		}
	}

	ul.kip-appointment-details, ul.kip-booking-codes {
		margin-top: map-get($kip-space, md);
		margin-bottom: map-get($kip-space, md);

		li {
			display: inline-block;
			margin-right: map-get($kip-space, md);
			background: #fafafa;
			padding: map-get($kip-space, sm);
			border-radius: $kip-border-radius;
			box-shadow: $kip-box-shadow;

			&.kip-is-code{
				@include fs(emphasized);
				margin-bottom: map-get($kip-space, md);
				font-weight: bolder;
				text-transform: uppercase;
			}
		}
	}
}


.kip-week-calendar {
	position: relative;
	display: flex;
	flex-direction: columns;
	overflow-x: auto;
	box-shadow: $kip-box-shadow;
	margin-top: 20px;
	.kip-day-column {
		width: 200px;
		min-width: 120px;
		flex-grow: 0;

		.kip-hour-row {
			height: 100px;
			padding: 0;
			background: #fff;
			z-index: 3;
			cursor: pointer;

			&:hover {
				background: #efe;
			}

			&.kip-has-appointments {
			}

			&.kip-is-hour-label {
				cursor: inherit;
				display: flex;
				background: #fafafa;
				align-items: center;
				justify-content: center;
			}

			&.kip-is-day-label {
				cursor: inherit;
				display:flex;
				flex-direction:column;
				flex-wrap: wrap;
				justify-content: space-evenly;
				text-align: center;
				background: #fafafa;
				padding-top: map-get($kip-space, md);
				span.kip-day, span.kip-date {
					font-size: 18px;
					font-weight: bolder;
					display: block;
				}
				span.kip-date {
					font-size: 12px;
					font-weight: bolder;
				}
			}

			.kip-appointments {
				position: relative;
				height: 100%;
			}

			.kip-appointment-card {

				overflow: hidden;
				width: 95%;
				top: 4px;
				font-size: 14px;
				font-weight: bolder;
				left: 2.5%;
				position: absolute;
				box-shadow: $kip-box-shadow;
				z-index: 2;
				padding: 0;
				padding-left: 4px;
				background: $kip-appt-background;
				opacity: 0.8;
				cursor: pointer;

				&.kip-is-active {
					z-index: 3;
					opacity: 1.0;
				}

				.kip-appointment-overview {

					.kip-card-content {
						padding-top: map-get($kip-space, lg);
					}

					.bulma-message {
						margin-top: map-get($kip-space, md);
					}

				}

			}

		}

		&.kip-is-day-label {
			min-width: 100px;
			max-width: 100px;
			font-size: 14px;
			font-weight: bolder;
		}

		.kip-hour-row:not(:last-child) {
			border-bottom: $border;
		}
	}
	.kip-day-column:not(:last-child){
		border-right: $border;	
	}
}