@import 'scss/variables.scss';

.kip-user-restore-from-backup {

	.bulma-message {
		margin-bottom: map-get($kip-space, md);
	}

    #secret {
		text-transform: uppercase;
		letter-spacing: 2px;
    }

	label {
		padding: map-get($kip-space, md);
		border-radius: $kip-border-radius;
	    display: inline-block;
	    cursor: pointer;
	    background: $kip-green;
	    color: #fff;
		input[type=file].bulma-input {
			display: none;
		}
	}
}