@import "scss/variables";

.kip-secrets-notice {
	font-size: 14px;
	padding-bottom: map-get($kip-space, lg);
}

.kip-secrets-links {
	margin-top: map-get($kip-space, sm);
	a {
		height: 32px;
		margin-right: map-get($kip-space, sm);
	}
}

.kip-secrets-box {
	width: 100%;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: $kip-border-radius;
	.kip-uid, .kip-pw {
		width: 100%;
		span {
			width: 100%;
			margin-top: map-get($kip-space, lg);
			display: block;
			text-align: center;
			color: #AAA;
			font-size: 12px;
		}
		code {
			background: none;
			display: block;
			width: 100%;
			padding: map-get($kip-space, lg);
			padding-top: 4px;
			text-align: center;
			font-size: 24px;
			text-transform: lowercase;
		}
	}
	.kip-uid {
		border-bottom: 1px solid #ddd;
	}
}