@import 'scss/variables';

.bulma-message.kip-outdated-notice {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    .bulma-message-body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        a {
            text-decoration: none !important;
        }
        p {
            flex-grow: 1;
            margin-top: map-get($kip-space, md);
            margin-bottom: map-get($kip-space, md);
        }
    }
}

.kip-with-logo-wrapper {

    position: relative;

    .kip-centered-card {
        padding-top: 60px;
    }

    .kip-logo-wrapper {
        background-color:white;
        display: block;
        margin: 0 auto;
        text-align: center;
        vertical-align: center;
        position: absolute;
        width: 100%;
        height: 60px;
        left: 0;
        top: 0;

        & + .kip-card-title {
            h2 {
                text-align: right;
            }
        }

        img.kip-logo {
            margin: 10px;
            height: 2.5rem;
        }

        a {
            color: inherit;
            display: inline-block;
            margin-top: 0.75rem;
        }
    }

}

