@import "scss/variables";

.kip-card-content.kip-cm-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: map-get($kip-space, md);
    height: 100%;

    .kip-bar-chart {

        span.kip-bar.kip-booked {
            background: #5ea;
        }

        span.kip-bar.kip-open {
            background: #fc0;
        }
    }


}