@import '~scss/variables.scss';
.kip-card.kip-summary-box {

    .kip-card-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    p.kip-summary-box-number {
        padding: map-get($kip-space, sm);
        font-weight: 150;
        flex-grow: 1;
        text-align: center;
        margin: 10px;
        span {
            @include font-roboto;
            font-weight: 150;
            @include fs(large);
            display: block;
            color: $kip-gray-dark;
            @media(max-width: $kip-tablet){
                @include fs(huge);
            }
        }

        @media(max-width: $kip-tablet){
            width: 45%;
        }

        @media(min-width: $kip-desktop){
            width: 100%;
        }
    }

}
