@import '~scss/variables';

.kip-navbar-dropdown {
    max-width: 300px;

    &__item {
        display: block;
        overflow: hidden;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.kip-navbar {

    box-shadow: 0 4px 5px 0 transparentize($kip-black, 0.4);
    background-color: $kip-white;
    font-size: 1.1rem;
    position: relative;
    z-index: 30;
    border-bottom: 8px solid $kip-red;
    box-sizing: content-box;

    @media screen and (min-width: $kip-desktop) {
        .bulma-navbar-item.bulma-has-dropdown:hover .bulma-navbar-link,
        .bulma-navbar-item.bulma-has-dropdown.bulma-is-active,
        .bulma-navbar-link {
            background-color: $kip-blue;
        }
    }

    .centered {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .bulma-navbar-brand {
        .kip-logo-wrapper {
            display: flex;
            align-items: center;
            margin: 0.25rem 0.5rem;

            @media (max-width: $kip-desktop) {
                &:not(.persistent) {
                    display: none;
                }
            }

            img.kip-logo {
                height: 2.5rem;
            }
        }
    }

    span.bulma-is-hidden-navbar {
        display: none;
    }

    .bulma-navbar-item {
        align-items: center;
        flex-shrink: 1;
        line-height: 1.5;
        padding: 0.5rem 0.75rem;
        position: relative;
    }

    .bulma-navbar-title {
        @include font-roboto;
        display: inline-block;
        flex-grow: 1;
        text-align: center;
        margin: 0 auto;
        font-weight: 400;
        margin-right: 64px;

        @media (max-width: $kip-tablet) {
            text-align: left;
            font-size: 14px;
        }

        @media (max-width: $kip-desktop) {
            margin-left: 10px;
        }
    }

    .bulma-navbar-item,
    .bulma-navbar-link {
        &::after {
            border-color: $kip-blue;
        }
    }

    .bulma-navbar-link:hover,
    .bulma-navbar-item.bulma-is-active .bulma-navbar-link {
        color: $kip-white-transparent;

        &::after {
            border-color: $kip-white-transparent;
        }

        i.fas {
            text-decoration: none;
        }
    }

    .bulma-navbar-link span > .bulma-panel-icon {
        color: $kip-white;
    }
}

@media (max-width: $kip-desktop) {
    .kip-navbar {
        .bulma-navbar-menu {
            width: 0;
            transition: width 0.5s;
        }

        .bulma-navbar-menu.bulma-is-active {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            padding-top: 40px;
            width: auto;

            a {
                padding-right: 60px;
            }
        }

        .bulma-navbar-burger {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
