@import 'scss/variables';

.kip-retracting-label-input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8px;
    margin-bottom: 16px;

    > .kip-label {
        background-color: $kip-white;
        position: absolute;
        top: 16px;
        left: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - (2 * 8px));
        overflow: hidden;
        pointer-events: none;
        padding: 0 8px;
        transform: scale(0.75) translateX(-16%) translateY(-26px);
        border-radius: $kip-border-radius;
        border: 1px solid $kip-link;
        color: #333;
    }

    p.kip-description {
        font-size: 14px;
        padding-top: 2px;
        margin-bottom: 4px;
        color: #666;
    }
}
