@import 'scss/variables';

.kip-select {
    @include font-open-sans;

    position: relative;
    background-color: $kip-white;
    box-shadow: $kip-box-shadow;
    margin-bottom: map-get($kip-space, lg);
    cursor: pointer;
    font-size: 14px;
    border: 1px solid $kip-blue;
    border-radius: $kip-border-radius;
    box-sizing: border-box;
    padding: 12px 18px;
    width: 100%;

    &[disabled] {
        background-color: $kip-gray-light;
    }
}
