@import "scss/variables";

.kip-secrets-notice {
	font-size: 14px;
	padding-bottom: map-get($kip-space, lg);
}

.kip-secrets {
	.kip-switch {
		margin-bottom: map-get($kip-space, lg);
		.kip-slider {
			background: #aaf;
		}
	}
}

.kip-secrets-links {
	margin-top: map-get($kip-space, sm);
	a {
		height: 32px;
		margin-right: map-get($kip-space, sm);
	}
}

.kip-secrets-box {
	width: 100%;
	background: #fee;
	padding: map-get($kip-space, sm);
	margin-bottom: map-get($kip-space, md);
	box-shadow: $kip-box-shadow;
	border-radius: $kip-border-radius;

	&.kip-is-embedded {
		border: none;
		box-shadow: none;
		background: none;
		padding: 0;
		margin: 0;
	}

	.kip-uid, .kip-pw {
		width: 100%;
		span {
			width: 100%;
			margin-top: map-get($kip-space, lg);
			display: block;
			text-align: center;
			color: #444;
			font-size: 16px;
		}
		code {
			background: none;
			display: block;
			width: 100%;
			padding: map-get($kip-space, lg);
			padding-top: 4px;
			text-align: center;
			font-weight: bolder;
			font-size: 28px;
			letter-spacing: 2px;
			text-transform: uppercase;

			@media (max-width: $kip-tablet){
				font-size: 20px;
			}
		}
	}
}