// define any variables here to override the defaults from Bulma

$bulma-body-background-color: $kip-background-color;

$bulma-gap: $kip-gap;
$bulma-tablet: $kip-tablet;
$bulma-desktop: $kip-desktop;

// Set your brand colors
$bulma-blue: $kip-blue;
$bulma-green: $kip-green;
$bulma-purple: $kip-purple;
$bulma-link: $kip-blue;
$bulma-red: $kip-red;
$bulma-orange: $kip-orange;

$bulma-primary: $kip-primary;
$bulma-success: $kip-green;
$bulma-warning: lighten($kip-orange, 15%);
$bulma-info: $kip-blue;

$bulma-radius: $kip-radius;
$bulma-radius-small: $kip-radius;
$bulma-radius-large: $kip-radius;

$bulma-footer-padding: 0;
$bulma-footer-background-color: $kip-white;

// Default height of buttons and inputs
$bulma-control-height: 48px;

$bulma-button-color: $kip-primary;
$bulma-button-border-color: $kip-primary;
$bulma-button-hover-color: darken($kip-primary, 20%);
$bulma-button-hover-border-color: darken($kip-primary, 20%);

@import 'bulma-si';
@import '~assets/bulma/bulma.sass';

a.bulma-dropdown-item {
    &.bulma-is-active {
        background-color: $kip-blue;
    }

    .icon {
        margin-right: 0.45em;
    }
}

.bulma-columns {
    margin-top: 0;
}