$kip-primary: #36444e;

$kip-blue: #265aa6;
$kip-green: #64b445;

$kip-red: #e5241d;
$kip-purple: #e8387d;
$kip-orange: #f18700;

$kip-background-color: #d3d6d9;

$kip-white-transparent: #fffc;

$kip-gray-light: #f3f3f3;
$kip-gray: #aaa;
$kip-gray-dark: #777;
$kip-black: #3c3c3b;
$kip-white: #fff;

$kip-link: $kip-blue;

// gradients

@mixin kip-gradient($kip-direction) {
    background: linear-gradient(unquote($kip-direction), $kip-blue, $kip-green);
}
