@import 'variables';
@import 'assets';
// we import Bulma after defining variables but before main styles
@import 'bulma';
@import '../assets/fonts/fonts.css';

html {
    background: $kip-background-color;
}

.kip-non-printable {
    @media print {
        display: none !important;
    }
}

body.kip-fonts {
    @include font-roboto;

    margin: 0;
    padding: 0;
}

div.kip {
    fieldset {
        border-style: none;
    }

    a {
        cursor: pointer;
    }

    // Styles the background on the login page
    .kip-is-fullheight.kip-simple {
        @include kip-gradient('to top');
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            margin: 0;
        }
    }

    select,
    input {
        @include font-roboto;
    }

    hr {
        background-color: #ccc;
        height: 1px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include font-roboto-condensed;
    }

    h2 {
        @include fs(large);
        margin-bottom: map-get($kip-space, md);
        margin-top: map-get($kip-space, lg);
    }

    h3 {
        @include fs(emphasized);
        margin-bottom: map-get($kip-space, md);
        margin-top: map-get($kip-space, lg);
    }

    .bulma-label {
        margin-top: map-get($kip-space, md);
    }

    h3 {
        @include fs(normal);
        margin-top: map-get($kip-space, lg);
        margin-bottom: map-get($kip-space, md);
    }
}
